body{
    min-width: 300px;
    font-size: medium;
    font-family: cursive;
    border: 2px solid silver;
    border-radius: 20px;
    margin: 15px;
}

strong{
    color: rgb(96, 95, 95);
}

.main{
    padding: 20px;
}

.content{
    padding-top: 8px;
    padding-bottom: 8px;
}

div#author{
    text-align: right;
    font-size: smaller !important;
    margin-top: 5px;
}

button#more {
    display: block;
    margin: 0 auto !important;
    text-align: center;
    padding: 6px;
    margin-top: 10px !important;
    color: white;
    background-color: #357df1;
    border: none;
    cursor: pointer;
}

#more:hover {
    background-color: #115fde;
}


.hidden {
    display: none;
}

#loader {
    justify-content: center;
    align-items: center;
    width: 100px !important;
}

#loader img {
    margin-left: 80%;
}

